body{
    height: 100vh;
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
section{
    width: 300px;
    height: 600px;
    border : 10px solid gainsboro;
    border-radius:50px;
    padding: 3px;
    margin: 30px;
    font-size: 20px;

}
h1{
    font-size: 50px;
    text-align: center;
    color: black;
    text-decoration: underline yellowgreen 5px;
}
h2,h3,h4,p{
    
    padding: 5px;
    text-align: center;
    text-align-last: center;
    justify-content: flex-end;
    color: white;
    line-height: 30px;

}
img{
    width: 100%;
    border-radius: 50px;
    height: 180px;
}
.Gu{
    background-color: rgba(6,13,42,255);
}
.Peak{
    background-color: rgba(107,102,96,255);
}
.Great{
    background-color: rgba(72,143,223,255);
}
.Rebirth{
    background-color: rgba(93,192,239,255);
}
.Tales{
    background-color: rgba(0,1,3,255);
}
.Reings{
    background-color: rgba(185,152,241,255);
}
.God{
    background-color: rgba(185,152,241,255);
}
.Dragon{
    background-color: rgba(113,46,89,255);
}
.Bai{
    background-color: rgba(206,229,245,255);
}
.Yuan{
    background-color: rgba(189,200,219,255);
}
.header {
    overflow: hidden;
    background-color:white;
    padding: 40px 10px;
    background-image: url(images/background\ header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    float: right;
}
.header a {
    float: cover;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.active {
    background-color: grey;
    color: white;
}
